{% extends 'books/base.html' %}

<!-- this will help render the images -->
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="">
            <a href = "{% url 'books:home' %}">Go Back</a>
        </div> 
        <div style="height: 90vh">   
            <h4>{{book.title}}</h4>
            <h4>{{book.author}}</h4>
            <small>ISBN : {{book.isbn}} </small><br>
            <small> Price : {{book.price}} </small><br>
            <img class="img-fluid text-center" style="max-width: 100%; max-height: 100%" src="/images/{{book.image}}" alt="book"/>
            <a href="{% url 'books:edit-book' book.id %}" class="btn btn-success btn-sm">Edit Book</a>
            <a href="{% url 'books:delete-book' book.id  %}" class="btn btn-success btn-sm">Delete Book</a>
        </div>
    </div>   
</div>
{% endblock %}